deployment-monitor-core/src/main/resources/ServerStatusReporter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://monitor.devops.carbon.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ax21="http://beans.monitor.devops.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://monitor.devops.carbon.wso2.org">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.monitor.devops.carbon.wso2.org/xsd">
            <xs:complexType name="ServerInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="deploymentSynchronizerInfo" nillable="true" type="ax21:DeploymentSynchronizerInfo"/>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mgtHostName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="patchInfo" nillable="true" type="ax21:Patch"/>
                    <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="productVersion" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serverIP" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serverProfile" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serverURL" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeploymentSynchronizerInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="autoCheckout" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="autoCommit" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="clientType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="enabled" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="errorFiles" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="inconsistentFiles" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="remoteSvnRevision" type="xs:long"/>
                    <xs:element minOccurs="0" name="workingCopyRevision" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Patch">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="bundles" nillable="true" type="ax21:Bundle"/>
                    <xs:element minOccurs="0" name="patchId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Bundle">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="md5sum" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://beans.monitor.devops.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://monitor.devops.carbon.wso2.org">
            <xs:import namespace="http://beans.monitor.devops.carbon.wso2.org/xsd"/>
            <xs:element name="getServerInfo">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:ServerInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPatchInfo">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPatchInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Patch"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDeploymentSynchronizerInfo">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDeploymentSynchronizerInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:DeploymentSynchronizerInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getServerInfoRequest">
        <wsdl:part name="parameters" element="ns:getServerInfo"/>
    </wsdl:message>
    <wsdl:message name="getServerInfoResponse">
        <wsdl:part name="parameters" element="ns:getServerInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="getDeploymentSynchronizerInfoRequest">
        <wsdl:part name="parameters" element="ns:getDeploymentSynchronizerInfo"/>
    </wsdl:message>
    <wsdl:message name="getDeploymentSynchronizerInfoResponse">
        <wsdl:part name="parameters" element="ns:getDeploymentSynchronizerInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="getPatchInfoRequest">
        <wsdl:part name="parameters" element="ns:getPatchInfo"/>
    </wsdl:message>
    <wsdl:message name="getPatchInfoResponse">
        <wsdl:part name="parameters" element="ns:getPatchInfoResponse"/>
    </wsdl:message>
    <wsdl:portType name="ServerStatusReporterPortType">
        <wsdl:operation name="getServerInfo">
            <wsdl:input message="ns:getServerInfoRequest" wsaw:Action="urn:getServerInfo"/>
            <wsdl:output message="ns:getServerInfoResponse" wsaw:Action="urn:getServerInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDeploymentSynchronizerInfo">
            <wsdl:input message="ns:getDeploymentSynchronizerInfoRequest" wsaw:Action="urn:getDeploymentSynchronizerInfo"/>
            <wsdl:output message="ns:getDeploymentSynchronizerInfoResponse" wsaw:Action="urn:getDeploymentSynchronizerInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getPatchInfo">
            <wsdl:input message="ns:getPatchInfoRequest" wsaw:Action="urn:getPatchInfo"/>
            <wsdl:output message="ns:getPatchInfoResponse" wsaw:Action="urn:getPatchInfoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServerStatusReporterSoap11Binding" type="ns:ServerStatusReporterPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getServerInfo">
            <soap:operation soapAction="urn:getServerInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDeploymentSynchronizerInfo">
            <soap:operation soapAction="urn:getDeploymentSynchronizerInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatchInfo">
            <soap:operation soapAction="urn:getPatchInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServerStatusReporterSoap12Binding" type="ns:ServerStatusReporterPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getServerInfo">
            <soap12:operation soapAction="urn:getServerInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDeploymentSynchronizerInfo">
            <soap12:operation soapAction="urn:getDeploymentSynchronizerInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatchInfo">
            <soap12:operation soapAction="urn:getPatchInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServerStatusReporterHttpBinding" type="ns:ServerStatusReporterPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getServerInfo">
            <http:operation location="getServerInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDeploymentSynchronizerInfo">
            <http:operation location="getDeploymentSynchronizerInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatchInfo">
            <http:operation location="getPatchInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServerStatusReporter">
        <wsdl:port name="ServerStatusReporterHttpSoap11Endpoint" binding="ns:ServerStatusReporterSoap11Binding">
            <soap:address location="http://localhost:9763/services/ServerStatusReporter/"/>
        </wsdl:port>
        <wsdl:port name="ServerStatusReporterHttpSoap12Endpoint" binding="ns:ServerStatusReporterSoap12Binding">
            <soap12:address location="http://localhost:9763/services/ServerStatusReporter/"/>
        </wsdl:port>
        <wsdl:port name="ServerStatusReporterHttpEndpoint" binding="ns:ServerStatusReporterHttpBinding">
            <http:address location="http://localhost:9763/services/ServerStatusReporter/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
