deployment-verifier/src/main/resources/ServerStatusReporter.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://monitor.devops.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2460="http://beans.monitor.devops.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://monitor.devops.carbon.wso2.org">
    <wsdl:documentation>ServerStatusReporter</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.monitor.devops.carbon.wso2.org/xsd">
            <xs:complexType name="ServerInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="serverIP" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="mgtHostName" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="patchInfo" nillable="true" type="ax2460:Patch"></xs:element>
                    <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="productVersion" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="serverProfile" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="serverURL" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Patch">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="bundles" nillable="true" type="ax2460:Bundle"></xs:element>
                    <xs:element minOccurs="0" name="patchId" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Bundle">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="md5sum" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2461="http://beans.monitor.devops.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://beans.monitor.devops.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="getServerInfo">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2461:ServerInfo"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getServerInfoRequest">
        <wsdl:part name="parameters" element="ns1:getServerInfo"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getServerInfoResponse">
        <wsdl:part name="parameters" element="ns1:getServerInfoResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ServerStatusReporterPortType">
        <wsdl:operation name="getServerInfo">
            <wsdl:input message="tns:getServerInfoRequest" wsaw:Action="urn:getServerInfo"></wsdl:input>
            <wsdl:output message="tns:getServerInfoResponse" wsaw:Action="urn:getServerInfoResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServerStatusReporterSoap11Binding" type="tns:ServerStatusReporterPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getServerInfo">
            <soap:operation soapAction="urn:getServerInfo" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServerStatusReporterSoap12Binding" type="tns:ServerStatusReporterPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getServerInfo">
            <soap12:operation soapAction="urn:getServerInfo" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServerStatusReporterHttpBinding" type="tns:ServerStatusReporterPortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getServerInfo">
            <http:operation location="getServerInfo"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServerStatusReporter">
        <wsdl:port name="ServerStatusReporterHttpsSoap11Endpoint" binding="tns:ServerStatusReporterSoap11Binding">
            <soap:address location="https://localhost:9443/services/ServerStatusReporter.ServerStatusReporterHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="ServerStatusReporterHttpsSoap12Endpoint" binding="tns:ServerStatusReporterSoap12Binding">
            <soap12:address location="https://localhost:9443/services/ServerStatusReporter.ServerStatusReporterHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="ServerStatusReporterHttpsEndpoint" binding="tns:ServerStatusReporterHttpBinding">
            <http:address location="https://localhost:9443/services/ServerStatusReporter.ServerStatusReporterHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>